{% if site.github.repository_url %}
  {% assign page_path = page.path | replace: 'index.html', '' %}
  <div class="github-edit-link">
    <a href="{{ site.github.repository_url }}/edit/{{ site.github.source.branch }}/{{ page_path }}" target="_blank" rel="noopener noreferrer">
      Edit this page on GitHub
    </a>&nbsp;
    <a href="https://github.com/quadram-institute-bioscience/ebame-viromics/actions/workflows/pages/pages-build-deployment"><img src="https://github.com/quadram-institute-bioscience/ebame-viromics/actions/workflows/pages/pages-build-deployment/badge.svg?branch=gh-pages" alt="gh build status"></a>

  </div>
{% endif %}